/* Base styles and CSS reset */

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
html,
body {
    overscroll-behavior: none;
}

@media (max-width:768px) {

    html,
    body {
        overscroll-behavior: auto;
    }

}

@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentcolor);
    }
}

@layer base {
    :root {
        color-scheme: light;
    }

    .dark {
        color-scheme: dark;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }


    button {
        cursor: pointer;
    }

    @keyframes shine {
        0% {
            background-position: 0% 0%;
        }

        50% {
            background-position: 100% 100%;
        }

        to {
            background-position: 0% 0%;
        }
    }

    @keyframes slideDown {
        from {
            height: 0;
        }

        to {
            height: var(--radix-collapsible-content-height);
        }
    }

    @keyframes slideUp {
        from {
            height: var(--radix-collapsible-content-height);
        }

        to {
            height: 0;
        }
    }
}

@theme {
    --animate-slideDown: slideDown 300ms cubic-bezier(0.87, 0, 0.13, 1);
    --animate-slideUp: slideUp 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

/* Ensure collapsible content backgrounds change instantly with theme */
[data-radix-collapsible-content] {
    transition: background-color 0s !important;
}